*{
	margin:0;
	padding: 0;
}
body{
	background-color: white;
	font-family: "open sans", sans-serif;
	font-size: 14px;
}
h1{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}
h2{
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}
p{	
	text-align: center;
	font-size: 10px;
}

/* Generales */
.container{
	padding: 60px;
	max-width: 600px;
	margin: 0 auto;
}
.container-medium{
	padding: 60px;
	max-width: 600px;
	margin: 0 auto;
}
.container-info{
	max-width: 100%;
	max-height: 150%;
	font-size: 10px;
	background-color: #D9E5DD;
	padding: 60px;
	margin: 0 auto;
}
.container-large{
	max-width: 960px;
	margin: 0 auto;
}
.button{
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: all 0.3s;
}
.button-green{
	background-color: green;
}

/* Header */
header{
	color: white;
	background-image: url(./images/bg.jpeg);
	text-align: center;
	padding: 200px 10px;
}

/* Navegación */
nav{
	background-color: red;
}
nav ul{
	list-style: none;
	float: right;
}
.logo{
	float: left;
	margin: 10px;
}
.logo img{
	width: 125px;
}
nav ul li{
	display: inline-block;
	padding: 10px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 0.3s;
}
nav li a:hover{
	opacity: 1;
}

/* Descripción */

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Información */

.container-info p{
	text-align: center;
	font-size: 10px;
	margin: 0 auto;
}

.button button-blue{
	background-color: blue;
}

/* Contacto */

.contactenos{
	width: 500px;
	height: 100px;
    font-size: 15px;
	margin: 100px;
    float: left;
}

/* Subscribete */

.subscribete{
	width: 500px;
	height: 100px;
	padding: 100px 50px;
    float: right;
 }

.button-subs{
	background-color: white;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid grey;
	color: grey;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	margin: 5px;
	transition: all 0.3s;
}
.button-enviar{
	font-size: 14px;
	text-decoration: none;
	border: 1px solid grey;
	color: grey;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	margin: 5px;
	transition: all 0.3s;
}

/* Footer */

.footer{
	width: 100%;
	height: 100%;
	font-size: 14px;
	background-color: black;
	color: white;
	padding: 50px;
	border-bottom: 20px solid white;
	float: right;
}

